<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SobotKitFrameworkTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9A0D2AEFD2942621EDADE54DA0008EB6748C2F04</string>
				<key>dateExpires</key>
				<string>2020/8/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>94K26P27D8.com.sobot.sdk.demo</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.sobot.sdk.demo</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>94K26P27D8</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.sobot.sdk.demo</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>94K26P27D8.com.sobot.sdk.demo</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SobotKitFrameworkTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>402af27a-3422-4d8c-aef4-67d9dff7dac9</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.sobot.sdk.demo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>94K26P27D8</string>
				<key>name</key>
				<string>Beijing Sobot Technologies Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
